version: "3.9"

services:
  nextjs:
    container_name: nextjs-app
    build:
      context: .
      dockerfile: infra/Dockerfile
    restart: always
    expose:
      - "3000"
    environment:
      NODE_ENV: production

  nginx:
    container_name: nginx
    image: nginx:alpine
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./infra/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./infra/certbot/www:/var/www/certbot
      - ./infra/certbot/conf:/etc/letsencrypt
    depends_on:
      - nextjs

  certbot:
    container_name: certbot
    image: certbot/certbot
    volumes:
      - ./infra/certbot/www:/var/www/certbot
      - ./infra/certbot/conf:/etc/letsencrypt
