version: "3.9"

services:
  nextjs:
    container_name: nextjs-prod
    build:
      context: .
      dockerfile: Dockerfile.prod
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
